@page
@model AdminManagement.Pages.Brands.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Products</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand[0].LogoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Brand) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.LogoUrl)">
            </td>
            <td>
                    @if (item.Status == 1)
                    {
                        <p class="text-success">Stocking</p>
                    }
                    else
                    {
                        <p class="text-danger">Delete</p>
                    }
            </td>
            <td>
                <a class="btn btn-light" asp-page="./Edit" asp-route-id="@item.BrandId">Edit</a> 
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.BrandId">Details</a> 
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.BrandId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<style>
    img {
        width: 200px;
        height: 200px;
    }
</style>
